#ifndef SECRET_H
#define SECRET_H

[[maybe_unused]] static const char* SECRET_SSID = "JOUW_SSID_HIER";
[[maybe_unused]] static const char* SECRET_PASS = "JOUW_PASS_HIER";

[[maybe_unused]] static const char* SECRET_TZ_INFO = "JOUW_TZ_INFO_HIER";
[[baybe_unused]] static const char* SECRET_NTP_SERVER = "pool.ntp.org";

[[maybe_unused]] static const double SECRET_LAT = JOUW_LAT_HIER;
[[maybe_unused]] static const double SECRET_LON = JOUW_LON_HIER;

// OpenWeahterMap API Key's
// Lat Lon link http://api.openweathermap.org/geo/1.0/zip?zip={zip code},{country code}&appid={API key}

[[maybe_unused]] static const char* SECRET_OMW2 = "JOUW_OMW2_KEY_HIER";
[[maybe_unused]] static const char* SECRET_OMW3 = "JOUW_OWM3_KEY_HIER";

// https://api.openweathermap.org/data/3.0/onecall?lat={lat}&lon={lon}&exclude={part}&appid={API key}
// Exlude: current, minutely, hourly, daily, alerts
// More info: https://openweathermap.org/api/one-call-3

#endif